<section class="HeroGalaxyContainer">
  
  <div class="NebulaSmoke"></div>
  <div class="StarsBackground"></div>

  <div class="SolarSystem">
    
    <div class="CentralCore">
      <div class="ImageMask">
        <img src="assets/hero-center.png" alt="Full Stack Developer" class="AvatarImage">
      </div>
      <div class="CoreGlow"></div>
    </div>

    <div class="OrbitalRing" [style.transform]="'rotateX(75deg) rotateZ(' + systemRotation + 'deg)'">
      
      <div *ngFor="let tech of technologies; let i = index" 
           class="PlanetaryIcon"
           [class.SelectedTech]="i === selectedTechIndex"
           [style.transform]="'rotateZ(' + tech.angle + 'deg) translateX(340px) rotateZ(' + (-tech.angle - systemRotation) + 'deg) rotateX(-75deg)'"
           (click)="selectTech(i)"
           [title]="tech.name">
        <div class="IconInner">
            <img [src]="tech.logo" [alt]="tech.name">
        </div>
      </div>

    </div>
  </div>

  <div class="HeroTextMinimal">
    <h1 class="TitleMinimal">IVO VICENCIO</h1>
    <h2 class="SubtitleMinimal">FULL STACK DEVELOPER</h2>
    <p class="LocationMinimal">JUJUY & NEUQUÉN, ARGENTINA</p>
  </div>

</section>