<nav class="navbar navbar-expand-lg NavbarDark fixed-top">
  <div class="container justify-content-between">
    <a class="navbar-brand BrandText" routerLink="/home">
      IVO<span class="TextAccent">VICENCIO</span>
    </a>
    
    <div class="d-flex gap-4 align-items-center">
      <a class="NavLinkCustom" routerLink="/home" routerLinkActive="ActiveLink">INICIO</a>
      <a class="NavLinkCustom" routerLink="/projects" routerLinkActive="ActiveLink">PROYECTOS</a>
      <a class="BtnNeon ms-2" routerLink="/contact-me">CONTACTO</a>
    </div>
  </div>
</nav>